body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    border-radius: 15px;
    padding: 10px 40px;
    border: none;
    background-color:rgb(116, 116, 194);
    font-size: 16px;
    margin-left: 40px;
}

.btn:hover {
    background-color: rgb(176, 198, 216);
    cursor: pointer;
}

.hidden{
    display: none !important;
}