* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.etch-container {
  aspect-ratio: 12 / 10;
  width: 1000px;
  max-height: 700px;
  display: grid;
  grid-template-columns: 70% 30%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.canvas-container {
  display: grid;
  position: relative;
}

.settings {
  background-color: #c6c6c6;
}

#eraser{
  position: absolute;
  pointer-events: none;
  z-index: 10;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 2px solid #000;
  border-radius: 50%
}